pkgbase = claude-desktop-bin
	pkgdesc = Claude Desktop - Linux (unofficial, from official binary)
	pkgver = 1.1.3918
	pkgrel = 1
	url = https://claude.ai
	arch = x86_64
	license = custom:Claude
	depends = electron
	depends = nodejs
	source_x86_64 = claude-desktop-1.1.3918-1-linux.tar.gz::https://github.com/patrickjaja/claude-desktop-bin/releases/download/v1.1.3918/claude-desktop-1.1.3918-linux.tar.gz
	sha256sums_x86_64 = a157ac05127d837d84c99ce770aa4152cb489b49b294d696afef6824c2d2382b

pkgname = claude-desktop-bin
